*,
*::before,
*::after {
    box-sizing: border-box;
    }

:root {
    --fw-bold: 700;
    --clr-dark: #000000;
    }

html {
    background: repeating-linear-gradient(#F1D3FF, #B5B4FF, #F1D3FF);
    }

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--clr-dark);
    }

.nav-items::-webkit-scrollbar {
    display: none;
    }


::-webkit-scrollbar {
    width: 12px;
    }
    

    ::-webkit-scrollbar-track {
    background: #000000;
    outline: solid 3px black;
    }

    ::-webkit-scrollbar-thumb {
    background: #fff; 
    }

@media screen and (max-width: 1074px) {
.content{
    max-width: 80vmax;
    margin: auto;
    }

.nav-content{
    width: 100%; 
    }


.nav-items {
    margin:0;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
    display: flex;
    font-size: 2.45vmax;
    list-style: none;
    white-space: nowrap;
    overflow-x:scroll;
    }

.nav-items a {
    background-color: #000;
    color: white;
    display:flex;
    text-align: center;
    padding: .75em 1.65em;
    text-decoration: none;
    box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
    }

.nav-items a.active{
    background-color:white;
    color: black;
    text-decoration: underline;
    }

.img{
    margin: auto;
    width:80%;
    
    
    }

.avatar {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: min(160px,35vmin);
    margin-bottom: 4em;
    width: min(300px, 70%);
    outline: solid min(9px,1.2vmin) white;
    outline-offset: 2.5vmin;
    cursor: url("/portfolio_site/images/cursor.svg"), crosshair;
    animation-name: transitionIn;
    animation-duration:1.5s;
}

.bg-img{
    opacity: .65;
    position: absolute;
    top:max(20%,200px);
    left: -13%;
    z-index: -1;
    width: 135%;
    transform: rotate(90deg);
    }

.summary {
    padding: 0 10% 0 10%;
    font-size:2.2vmax;
    text-align: center;
    margin-bottom: 40px;
    }

.wrap-up {
    position: relative;
    margin-top: 45px;
    padding: 0 10% 0 10%;
    font-size: 2.2vmax;
    text-align: center;
    }

.divider{
    background-color: #000000;
    margin: auto;
    width:90%;
    height:.15rem;
    border-radius: 10px;

    }

.soc-container{
    max-width: 80vmax;
    margin: auto;
    padding-top: 10px;
    }

.img-socials{
    max-width: 80vmax;
    margin: auto;
    padding-top: 10px;
    padding-left:5%;

    }

.svg-img{
    margin: 0 6%;
    width:10%;
    }

.bg-img {
    opacity: .45;
    position: fixed;
    top: 20%;
    left: -15%;
    z-index: -1;
    width: 135%;
    transform: rotate(90deg);
    }

.socials {
    display: none;
    }
    }



@media screen and (min-width:1075px){
.content{
    max-width: 1100px;
    margin: auto;
}

.nav-content {
    position: fixed;
    left: 0px;
    height: 4em;
    background-color:#000;
    width: 100%;
    text-align: center;
    box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
    z-index: 3;
}
.nav-content ul {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.nav-content ul li {
    margin: 0;
    padding: 0;
    float:left;
}
.nav-content ul li a {
    text-decoration: none;
    padding: .6em 1.5em;
    display: block;
    color: #FFF;
    text-align: center;
}

.nav-items li{
    position: relative;

    display: inline-block;
    text-align: center;
    padding: 1.4em 1.85em;
}
.nav-items a.active{
    background-color:white;
    color: black;
    height: 2.65em;
    text-decoration:underline;
}
.nav-items li :hover {
    text-decoration: underline;  
    font-weight: 900;
}

.img{
    position: relative;
    display: block;
    margin: 6em 4em 0 6em;
    float: left;
    width: 360px;
    height: 1190px;
    cursor: url("/portfolio_site/images/cursor.svg"), crosshair;
}


.avatar {
    position: sticky;
    width: 360px;
    outline: solid 8px white;
    outline-offset: 25px;
    top: 18%;
    z-index: -1;
    animation-name: transitionIn;
    animation-duration:1.5s;
}

@keyframes transitionIn {
    from{
       opacity: 0;
       transform: translateY(-100px);
    }
    to{
       opacity: 1;
       transform: translateY(0px);
    }
   
   }



.bg-img {
    opacity: .45;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: -3;
    width: 75%;
}

.summary {
    margin: 0px;
    padding: 12% 5% 5% 5%;
    font-size: 1.5em;
    text-align: left;
    
}
.current {
    position: relative;
    margin: 0;
    padding: 9% 5% 0 5%;
    font-size: 1.5em;
    text-align: left
}

.wrap-up {
    position: relative;
    padding: 2% 10% 0 10%;
    font-size: 1.5em;
    text-align: center;
}
.divider{
    background-color: #000000;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    width:90%;
    height:.15rem;
    border-radius: 10px;
}

.socials{
    position: relative;
    padding-top: 2%;
    font-size: 2em;
    text-align: center;
}
.socials a{
    color: #000;
    padding:.7em
}

.socials a:hover {
    background-color: #000;
    color:white;
}

.img-socials {
    display: none;
}
}


