*,
*::before,
*::after {
    box-sizing: border-box;
    }

:root {
    --fw-bold: 700;
    --clr-dark: #000000;
    }

html {
    background: repeating-linear-gradient(#F1D3FF, #B5B4FF, #F1D3FF);
    }

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--clr-dark);
    }

.nav-items::-webkit-scrollbar {
    display: none;
    }

#fullpage {
  display: none;
  position: fixed;
  z-index: 9999;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color:rgba(0, 0, 0, .5);
}


::-webkit-scrollbar {
    width: 12px;
    }

 ::-webkit-scrollbar-track {
    background: #000000;
    outline: solid 3px black;
    }
    

::-webkit-scrollbar-thumb {
    background: #fff; 
    }

@media screen and (max-width: 1054px) {
.content{
    max-width: 80vmax;
    margin: auto;
    }

.nav-content{
    width: 100%; 
    }

/*I know that looks wild but trust me lol*/
.nav-items {
    margin:0;
    padding: 0;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 5;
    display: flex;
    font-size: 2.45vmax;
    list-style: none;
    white-space: nowrap;
    overflow-x:scroll;
    }

.nav-items a {
    background-color: #000;
    color: white;
    display:flex;
    text-align: center;
    padding: .75em 1.55em;
    text-decoration: none;
    box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
    }

.nav-items a.active{
    background-color:white;
    color: black;
    text-decoration: underline;
    }

.soc-container{
    max-width: 80vmax;
    margin: auto;
    padding-top: 10px;
    }

.img-socials{
    max-width: 80vmax;
    margin: auto;
    padding-top: 10px;
    padding-left:5%;

    }

.svg-img{
    margin: 0 6%;
    width:10%;
    }


.socials {
    display: none;
    }
    }



@media screen and (min-width:1055px){
.content{
    max-width: 1100px;
    margin: auto;
}

.nav-content {
    position: fixed;
    left: 0px;
    height: 4em;
    background-color:#000;
    width: 100%;
    text-align: center;
    box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
    z-index: 3;
}
.nav-content ul {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.nav-content ul li {
    margin: 0;
    padding: 0;
    float:left;
}
.nav-content ul li a {
    text-decoration: none;
    padding: .6em 1.5em;
    display: block;
    color: #FFF;
    text-align: center;
}

.nav-items li{
    position: relative;

    display: inline-block;
    text-align: center;
    padding: 1.4em 1.85em;
}
.nav-items a.active{
    background-color:white;
    color: black;
    height: 2.65em;
    text-decoration:underline;
}
li:hover {
    text-decoration: underline;  
    font-weight: 900;
}


.socials{
    position: relative;
    padding-top: 2%;
    font-size: 2em;
    text-align: center;
}
.socials a{
    color: #000;
    padding:.7em
}

.socials a:hover {
    background-color: #000;
    color:white;
}

.img-socials {
    display: none;
}
.socials a{
    color: #000;
    padding:.7em
}

.img-socials {
    display: none;
}
}

.wrapper {
    max-width: 75rem;
    padding: 2rem;
    margin:  0 auto;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 12.5rem);
    gap: .5rem;
    margin-top: 70px;
}

/* Gallery Layout */
.gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.gallery__item--3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.gallery__item--4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

.gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.gallery__item--6 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 2;
}

/* Gallery Link */
.gallery__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Gallery Link Overlay */
.gallery__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.gallery__link:hover .gallery__overlay {
    opacity: 1;
}

/* Gallery Overlay Text */
.gallery__overlay span {
    position: relative;
    line-height: 3rem;
}

.gallery__overlay span:before,
.gallery__overlay span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width .3s ease-out .2s;
}

.gallery__overlay span:before {
    top: 0;
    left: 0;
}

.gallery__overlay span:after {
    bottom: 0;
    right: 0;
}

.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
    width: 100%;    
}


/* Gallery Image */
.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 
        transform .5s,
        filter .5s;
}

.gallery__link:hover .gallery__image {
    transform: scale(1.2);
}

@media screen and (max-width: 60rem) {
    .wrapper {
        margin-top: 100px;
        padding: 1rem;
    }

    .gallery {
        grid-template-rows: repeat(5, 12.5rem);
        grid-template-columns: repeat(3, 1fr);
    }

    /* Gallery Layout */
    .gallery__item--1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .gallery__item--2 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .gallery__item--3 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .gallery__item--4 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }

    .gallery__item--5 {
        grid-column: 1 / span 2;
        grid-row: 3/ span 2;
    }

    .gallery__item--6 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 2;
    }

    .gallery__item--7 {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
    }

    .gallery__item--8 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .gallery__overlay {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 35rem) {
    .gallery {
        display: block;
        margin-top: 90px;
    }

    .gallery__item {
        margin: 1rem;
    }

    .gallery__link {
        height: 80vw;
    }

    .gallery__overlay {
        font-size: 1rem;
    }
}
.divider{
    background-color: #000000;
    margin-left:auto;
    margin-right:auto;
    margin-top: 2%;
    width:90%;
    height:.15rem;
    border-radius: 10px;
}
