*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --fw-bold: 700;
    --clr-dark: #000000;
}

html{
    background-color:#aeadff;
    animation-name: transit;
    animation-duration:10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function:linear; 
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: var(--fw-bold);
    line-height: 1.5;
    color: var(--clr-dark);
}

/*Background animations*/
@keyframes transit {
    from { background-color:#aeadff;}
    to { background-color: #F1D3FF;}
}

.nav-items::-webkit-scrollbar {
    display: none;
    }

    .overlay-background{
        position: absolute;
        z-index: 900;
        background-color:#aeadff;
        animation-name: transit;
        animation-duration:3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function:linear; 
        height: 100%;
        width: 100%;
        outline: .9vmax solid white;
        outline-offset: -50px;
    }
    /*Background animations*/
    @keyframes transit {
        from { background-color:#aeadff;}
        to { background-color: #F1D3FF;}
    }

    .overlay-content{
        margin: 40vh auto 0;
        width: 50%;
        text-align: center;
        font-size: min(2.3vmax,27px);
        font-style: var(--fw-bold);
    }
.text p{
    margin-bottom: 40px;
}
.button-content a{
    padding: .6em;
    background-color: #000;
    color:#fff;
    outline: solid 4px white;
    outline-offset:  5px;
    text-decoration: none; 
    
}

.button-content a:hover{
    padding: .6em;
    background-color: #fff;
    color:#000;
    outline: solid 4px black;
    outline-offset:  5px;

 }
    
    
    @media screen and (max-width: 1054px) {
    .content{
        max-width: 55vmin;
        margin: auto;
    }
    
  
    .nav-content{
        width: 100%; 
        }
    
    .nav-items {
        margin:0;
        padding: 0;
        position: fixed;
        top:0;
        width: 100%;
        z-index: 5;
        display: flex;
        font-size: 2.45vmax;
        list-style: none;
        white-space: nowrap;
        overflow-x:scroll;
        }
    
    .nav-items a {
        background-color: #000;
        color: white;
        display:flex;
        text-align: center;
        padding: .75em 1.65em;
        text-decoration: none;
        box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
        }
    
    .nav-items a.active{
        background-color:white;
        color: black;
        text-decoration: underline;
        }
    
    
    .form-content{
        position: relative;
        padding:0;
        margin-left:auto;
        margin-right: auto;
        top: 170px;
    }
    
    .email{
        padding-bottom: 1em;
        width: 14.7em;
        font-size: min(28px,4.2vmin);      
    }
    
    input[type=email]{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        border: 4px solid black;
        width: 100%;
        font-size: .9em;
    }
    
    .name{
        padding-bottom: 1em;
        width: 14.7em;
        right: 1em;
        font-size: min(28px,4.2vmin);   
    }
    
    input[type=name]{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        border: 4px solid black;
        width: 100%;
        font-size: .9em;
    }
    
    .thoughts-form{
        resize: none;
        font-size: min(28px,4.2vmin);
    }
    textarea{
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        resize: none;

        width: 14.7em;
        height: 7em;
        right: 1em;
        border: 4px solid black;
        font-size: min(28px,4.2vmin);
        
    }
    

    
    button{
        font-family: 'Courier New', Courier, monospace;
        font-size: max(3.2vmin, 6px);
        font-weight: bold;
        padding: .6em;
        background-color: #000;
        color:#fff;
        outline: solid 4px white;
        outline-offset:  5px;
        margin-top: 30px;

    }
    

    .soc-container{
        max-width: 80vmax;
        margin: auto;
        padding-top: 10px;
        }
    
    .img-socials{
        max-width: 80vmax;
        margin: auto;
        padding-top: max(40%,250px);
        padding-left:5%;
    
        }
    
    .svg-img{
        margin: 0 6%;
        width:10%;
        }
    
    .bg-img{
        opacity: .65;
        position: absolute;
        top:max(20%,200px);
        left: -13%;
        z-index: -1;
        width: 135%;
        transform: rotate(90deg);
    }
    .socials{
        display:none;
    }
    }

    @media screen  and (min-width:600px){
        .bg-img{
            position: absolute;
            left: 2%;
            opacity:.65;
            z-index: -1;
            width:95%;
            top:max(10%,180px);
            transform: rotate(0deg)
            }
        }
    
        @media screen and (min-width:1055px){
            .content{
                max-width: 1100px;
                margin: auto;
            }
            .border{
                position:relative;
                margin-left:auto;
                margin-right: auto;
                top: 6em;
                width:96vw;
                height:87vh;
                outline: 8px solid white;
            }
            .content{
                max-width: 1100px;
                margin: auto;
            }
            
            .nav-content {
                position: absolute;
                left: 0px;
                height: 4em;
                background-color:#000;
                width: 100%;
                text-align: center;
                box-shadow: rgba(62, 40, 85, 0.94) 14px 0 14px;
            }
            .nav-content ul {
                font-size: 1.5em;
                margin: 0;
                padding: 0;
                display: inline-block;
            }
            .nav-content ul li {
                margin: 0;
                padding: 0;
                float:left;
            }
            .nav-content ul li a {
                text-decoration: none;
                padding: .6em 1.5em;
                display: block;
                color: #FFF;
                text-align: center;
            }
            
            .nav-items li{
                position: relative;
            
                display: inline-block;
                text-align: center;
                padding: 1.4em 1.85em;
            }
            .nav-items a.active{
                background-color:white;
                color: black;
                height: 2.65em;
                text-decoration:underline;
            }
            li:hover {
                text-decoration: underline;  
                font-weight: 900;
            }
            
            .form-content{
                position: relative;
                top:100px;
            }
            
            .email{
                position: relative;
                margin-left:auto;
                margin-right: auto;
                padding-bottom: .7em;
                width: 14.7em;
                font-size: 1.3em;
                right:6em;
            }
            input[type=email]{
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                border: 4px solid black;
                width: 100%;
                font-size: .9em;
                background-color: rgba(180, 179, 255, 0.6);
                mix-blend-mode: multiply;
            }
            
            .name{
                position: relative;
                margin-left:auto;
                margin-right: auto;
                padding-bottom: .7em;
                width: 14.7em;
                font-size: 1.3em;
                right:6em;
            }
            input[type=name]{
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                border: 4px solid black;
                width: 100%;
                font-size: .9em;
                background-color: rgba(180, 179, 255, 0.6);
                mix-blend-mode: multiply;
            }
            
            .thoughts-form{
                position: relative;
                padding-left: 1em;
                margin-left:auto;
                margin-right: auto;
                font-size: 1.3em;
                width: 600px;
                height: 300px;
            }
            
            textarea{
                resize: none;
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                width: 25em;
                height: 12em;
                border: 4px solid black;
                font-size: 1em;
                background-color: rgba(180, 179, 255, 0.6);
                mix-blend-mode: multiply;
                
            }
            
            
            button{
                font-family: 'Courier New', Courier, monospace;
                font-weight: bold;
                font-size: 1.2em;
                padding: .6em;
                background-color: #000;
                color:#fff;
                outline: solid 4px white;
                outline-offset:  5px;
                margin: 1em 0 0 25%;
            }
            
            button:hover{
                padding: .6em;
                background-color: #fff;
                color:#000;
                outline: solid 4px black;
                outline-offset:  5px;
            
             }
            
            .bg-img {
                opacity: .45;
                position: fixed;
                top: 10%;
                left: 10%;
                z-index: -1;
                width: 75%;
            }
            .bg-img{
                opacity:.65;
                position: absolute;
                top:15%;
                z-index: -1;
                width:72%;
            }
            .socials{
                position: absolute;
                margin: 0.5em 0 0 1.5em;
                font-size:max(25px, 1.75vmax);
                left:2%;
                width:70vw;
            }
            .socials a{
                color: #000;
                padding: .8em;
                text-decoration: none; 
            }
            
            .socials a:hover {
                background-color: #000;
                color:white;
            }
            
            .img-socials {
                display: none;
            }
            }

            @media screen and (min-width: 1460px){
                .bg-img{
                    opacity:.65;
                    position: absolute;
                    top:6%;
                    left:10%;
                    z-index: -1;
                    width:72%;
                }
            }

            /* width */
::-webkit-scrollbar {
    width: 12px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #000000;
    outline: solid 3px black;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #fff; 
    }