
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
:root {
 --fw-bold: 700;
 --clr-dark:#000000;
}
html{
    background-color:#aeadff;
    animation-name: transit;
    animation-duration:10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function:linear; 
    height: 100%;
}
@keyframes transit {
    from { background-color:#aeadff;}
    to { background-color: #F1D3FF;}
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: var(--fw-bold);
    color:var(--clr-dark);
}
.container{
  display: flex;
  width: 100%;
  gap: 35px;
  padding: 10px;
  max-width: 1050px;
}
section{
  background: #fff;
  outline: 8px solid black;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #7700e7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #7700e7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 25px;
  width: 25px;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #ff4d79;
}
.colors .option:nth-child(4){
  background-color: #20e9d8;
}
.colors .option:nth-child(5){
  background-color: #8520e9;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 1rem;
  margin-bottom: 13px;
  background: none;
  cursor: pointer;
}
.buttons a{
  color: #fff;
}

.buttons .clear-canvas{
    font-family: 'Courier New', Courier, monospace;
  color: #ff4d79;
  border: 2px solid #000;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #ff4d79; 
}
.buttons .save-img{
  font-family: 'Courier New', Courier, monospace;
  color: #6e41c0;
  border: 2px solid #000;
  transition: all 0.3s ease;
}
.save-img:hover{
  color: #fff;
  background: #b28bfa;
}

.buttons .home{ 
  font-family: 'Courier New', Courier, monospace;
  background: #000;
  
}

.home a{
  padding: 11px 64px;
}

.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}
